includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    tmpDir: tmp
    phpVersion: 80300

    scanFiles:
        - libs/GlobalController.php
        - helpers/formhandler.php

    paths:
        - app/

    # Level 9 is the highest level
    level: 8

    ignoreErrors:
        # We can do this since Authenticate Middleware will redirect to login if not authenticated  
        - '#Cannot access property \$[a-zA-Z0-9\\_]+ on App\\Models\\User\|null#'

    excludePaths:
        - ./vendor/*
        - ./libs/*

