canvas {
    border:1px solid #d3d3d3;
}
button:active {
    background-color: #ebd9c6
}
button:focus {outline:0;}
#loading_message {
    margin-top: 20px;
}
#game_canvas {
    float: left;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
#game_canvas2, #game_canvas3, #text_canvas {
    position: absolute;
    top: 215px;
    left: 12px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
#game_text {
    position: absolute;
    color: white;
    text-align: left;
}
#game_text p {
    text-align: left;
}
#test_canvas {
    border: 1px solid black;
}
#control {
    background-color: rgba(160, 139, 84, 0.5);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    touch-action: none;
    top: 210px;
}
#control_button {
    background-color: black;
    padding: 10px;
    border-radius: 40px;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50px;
    height: 50px;
    opacity: 1;
}
#control_text {
    color: white;
    position: absolute;
}
#control_text p {
    text-align: left;
}
#toggle_map_button {
    position: absolute;
}
#map_container {
    border: 5px ridge #5f4121;
    border-radius: 5px;
    width: 98%;
    height: 600px;
    position: absolute;
    z-index: 2;
    display: none;
}
#map_container_header {
    display:  flex;
    margin: 0;
}
#map_container h3 {
    background-color: #f2e6d9;
    width: 100%;
}
#map_img_container {
    overflow: scroll;
    height: calc(100% - 27px);
}
#map_img {
    width: 1600px;
    height: 1600px;
}

#close_map_wrapper {
    position: relative;
    
}
/*button {
    background-color: #f2e6d9;
    border-radius: 5px;
    border: 1px outset;
    box-shadow: 1px 1px 1px 1px #372715;
    padding: 3px 6px 3px 7px;
    color: black;
    font-weight: bold;
    font-size: 11px;
}*/
/*#map {
    border: 1px solid black;
}
#map img {
    color: white;
}*/
button:active {
    background-color: #ebd9c6
}
button:focus {outline:0;}
@media all and (max-width: 830px) {
    #news_content {
        width: 98%;
        font-size: 11px;
    }
}