#show_adventure {
    
}

#pending_adventure {
    float: left;
}
#current_adventure {
}
#tabs {
    margin: 5px 0px 0px 0px;
}
#new_adventure {
}
#people figure {
    display: inline-block;
}
#people img {
    width: 100px;
    height: 100px;
}
#invite span {
    margin-left: 5px;
}
#report {
    margin: 5px 0px 0px 0px;
}
.error {
    color: red;
    font-size: 13px;
    margin: 5px 0px 5px 0px;
    position: absolute;   
}
#requirements {
    float: left;
}
#provide {
    width: 100%;
    float: left;
}
#adventure_rewards {
    box-sizing: border-box;
    width: auto;
    border: 3px double black;
    overflow: scroll;
    /*background-color: #a6a6a6;*/
    background-color: #724e27;
    color: white;
    margin-bottom: 5px;
}
#adventure_stats {
    float: left;
}
#battle_stats {
    float: right;
}
#adventure_rewards figure {
    position: relative;
}
@media all and (max-width: 632px) {
    #people img {width: 75px; height: 75px;}
}