#warriors {

}
#warrior_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-gap: 5px;
    justify-content: center;
}
.armory_view {
    height: 305px;
    width: 200px;
    border: 3px ridge #322c10;
    margin: 5px;
    position: relative;
    background-color: var(--layoutBgColorDark);
    box-sizing: border-box;
    color: white;
    padding: 10px 0px 0px 0px;
}
.armory_view img {
    width: 48px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
}
.armory_view img:not(.type_icon) {
    border: 3px ridge #322c10
}
.type_icon {
    top: 2%;
    left: 2%;
    border: none;
}
.helm {
    top: 80px;
    left: 75px;
}
.ammunition {
    top: 80px;
    left: 130px;
}
#armory_view_div {
    top: 80px;
    left: 130px;
}
#armory_view_span {
    top: -87%;
    left: 24%;
    color: white;
}
.left_hand {
    top: 135px;
    left: 130px;
}
.body {
    top: 135px;
    left: 75px;
}
.right_hand {
    top: 135px;
    left: 20px;
}
.legs {
    top: 190px;
    left: 75px;
}
.boots {
    top: 245px;
    left: 75px;
}
#type {
    visibility: hidden;
}
#ranged_alt {
    visibility: hidden;
}
#put_on {
    width: 100%;
}
@media all and (max-width: 830px) {
    #armory_view_span {
        top: -75%;
        left: 26%;
    }
}