#mission {
    position: relative;
}
#mission_enabled {
    position: absolute;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: radial-gradient(var(--layoutBgColor), var(--layoutBgColorShadowPerc), var(--layoutBgColorShadow));
    border: 1px solid var(--borderColor);
    width: 500px;
    height: auto;
    visibility: hidden;
    padding: 10px;
    z-index: 2;
    border-radius: 20px;
}
#mission_enabled_button button:first-of-type {
    position: absolute;
    right: 5px;
}
#mission_enabled button {
    background-color: #8B4513;
    color: white;
    border-radius: 5px;
    border: 0.5px solid black;
}
#mission_table img {
    vertical-align: middle;
}
#mission-info {
    padding-left: 2rem;
    margin-top: 2rem;
}
.mission-info-container {
    display: flex;
    align-items: flex-start;
}
.mission-info-container > p {
    flex-basis: 50%;
    text-align: left;
    max-width: 200px;
}
