#mission {
    position: relative;
}
#mission_enabled {
    position: absolute;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    border: 1px solid black;
    width: 500px;
    height: 415px;
    visibility: hidden;
    padding: 10px;
    z-index: 2;
}
#mission_enabled td { 
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}
#mission_enabled button {
    background-color: #8B4513;
    color: white;
    border-radius: 5px;
    border: 0.5px solid black;
}
#mission_table img {
    vertical-align: middle;
}