#mission {
    position: relative;
}
#mission_enabled {
    position: absolute;
    margin: auto;
    top: 300px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    border: 1px solid black;
    width: 500px;
    height: 400px;
    visibility: hidden;
    padding: 10px;
}
#mission_enabled button {
    position: relative;
    top: 0px;
    right:5px;
    
}
#mission_enabled td { 
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}
#mission_enabled button {
    background-color: #8B4513;
    color: white;
    position: relative;
    left: 5px;
    top: 5px;
    border-radius: 5px;
    border: 0.5px solid black;
}