aside {
    height: 500px;
    margin: 0px 0px 0px 0px;
    display: block;
    font-size: 13px;
    z-index: 2;
    position: relative;
}
aside a {
    color: #003cb3;
    text-shadow: 0.2px 0.2px #003cb3;
}
aside a:visited {
    color: #003cb3;
}
aside img {
    vertical-align: middle;
    width: 48px;
    height: 48px;
}
aside caption {
    background-color: none;
}
#side_menu {
    margin: 0px 0px 0px 0px;
}

#side_menu ul {
    list-style-type: none ;
    font-size: 15px;
    position: absolute;
    left: 10px;
}
#side_menu li {
    width: 104px;
    padding: 1px;
}
#side_menu ul li:before {
    content:"\00BB\0020";
}
#side_menu ul li ul {
    padding: 1px 0px 1px 5px;
}
#side_menu li a {
    text-decoration: none;
    font-size: 14px;
}
#sidebar {
    background-color: #4c341a;
    /* Width get set by general.js -> sidebar object*/
    height: 500px;
    transition: width 0.2s ease-out;
    z-index: 2;
    color: white;
    position: fixed;
    box-sizing: border-box;
    padding: 5px;
}
.sidebar_button {
    background-color: #f2e6d9;
    border-radius: 5px;
    border: 1px outset;
    box-shadow: 1px 1px 1px 1px #372715;
    padding: 3px 6px 3px 7px;
    color: black;
    font-weight: bold;
    font-size: 11px;
}
.sidebar_tab {
    left: 10px;
    color: var(--textColor);
}
#sidebar table {
    text-align: center;
}
#sidebar_button_toggle {
    float: right;
    visibility: hidden;
}
#tab_1 {
    position: absolute;
    visibility: hidden;
}
#tab_2 {
    position: absolute;
    visibility: hidden;
}
#tab_3 {
    position: absolute;
    visibility: hidden;
}
#tab_4 {
    position: absolute;
    visibility: hidden;
    width: 100%;
    left: 0px;
    color: black;
}
#people figure {
    display: inline-block;
}
#skills {
    height: 86px;
    margin-bottom: 5px;
}
#skills div {
    position: relative;
    display: inline-block;
    border: 1px ridge black;
    float: left;
    width: 19%;
    height: 70px;
    max-width: 70px;
    min-width: 55px;
    padding: 3px 0px 3px 0px;
    font-size: 100%;
    box-sizing: border-box;
    background-color: #f2e6d9;
    text-align: center;
    transition: background-color 0.8s;
}
#skills img {
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}
#skills figure {
    position: relative;
}
#ad_tooltip {
    left: 18px;
    position: absolute;
    bottom: -10px;
}
.skill_level {
    position: absolute;
    bottom: -10px;
    left: 44%;
}
.skill_tooltip {
    position: absolute;
    right: 20%;
    border-radius: 1px;
    background-color: #f2e6d9;
    visibility: hidden;
    color: black;
    font-size: 12px;
    z-index: 2;
    padding: 1px 3px 1px 3px;
    text-align: center;
    width: auto;
    display: inline-block;
    float: right;
}
@media all and (max-width: 1040px) {
    aside {
        /*display: none;*/
        position: absolute;
    }
}
@media all and (max-width: 830px) {
    #sidebar {
        visibility: hidden;
        position: absolute;
        top: 185px;
    }
    #sidebar_button_toggle {
        visibility: visible;
        float: left;
        position: sticky;
        top: 25px;
    }
    aside {
        visibility: hidden;
        font-size: 12px;
        height: 800px;
    }
}