aside {
    width: 12%;
    height: 500px;
    float: left;
    padding: 5px 0px 0px 3px;
    margin: 0px 0px 0px 0px;
    background: radial-gradient(#f2e6d9 80%, #986834);
    border: inset 2px;
    position: fixed;
    display: block;
    /*border-top-style: ridge;
    border-top-color: black;
    border-top-width: 2px;
    border-right-style: ridge;
    border-right-color: black;
    border-right-width: 2px;
    background-color: #002b80;*/
}
aside a {
    color:#003cb3;
    text-shadow: 0.2px 0.2px #003cb3;
}
aside a:visited {
    color:#003cb3;
}
#side_menu {
    margin: 0px 0px 0px 0px;
}

#side_menu ul {
    list-style-type:none ;
    font-size:15px;
    position: absolute;
    left:10px;
}
#side_menu li {
    width:100px;
    padding:1px;
}
#side_menu ul li:before {
    content:"\00BB\0020";
}
/* #side_menu li:hover {
    background-color:#e6e6e6;
    width:120px;
    transition: width 1s;
} */
#side_menu ul li ul {
    padding:1px 0px 1px 5px;
}

#side_menu li a {
    text-decoration:none;
}
@media all and (max-width: 800px) {
    aside {
        display: none;
    }
}