/* aside {
    margin: 0px 0px 0px 0px;
    z-index: 25;
    position: relative;
}
aside a {
    color: #003cb3;
    text-shadow: 0.2px 0.2px #003cb3;
}
aside a:visited {
    color: #003cb3;
} */
/* aside img {
    vertical-align: middle;
    width: 48px;
    height: 48px;
} */
/* aside caption {
    background-color: none;
} */
/* #side_menu {
    margin: 0px 0px 0px 0px;
} */

/* #side_menu ul {
    list-style-type: none;
    font-size: 15px;
    position: absolute;
    left: 10px;
}
#side_menu li {
    width: 104px;
    padding: 1px;
}
#side_menu ul li:before {
    content: "\00BB\0020";
}
#side_menu ul li ul {
    padding: 1px 0px 1px 5px;
}
#side_menu li a {
    text-decoration: none;
    font-size: 14px;
} */
/* .sidebar_button {
    background-color: #f2e6d9;
    border-radius: 5px;
    border: 1px outset;
    box-shadow: 1px 1px 1px 1px #372715;
    padding: 3px 6px 3px 7px;
    color: black;
    font-weight: bold;
    font-size: 11px;
} */
/* .sidebar_tab {
    left: 10px;
    color: var(--textColor);
    width: calc(100% - 20px);
    text-align: center;
} */
/* #sidebar table {
    text-align: center;
}
#people figure {
    display: inline-block;
    padding-inline: 8px;
} */
/* #skills {
    height: 86px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
#skills div {
    position: relative;
    display: inline-block;
    border: 1px ridge black;
    padding: 3px 0px 3px 0px;
    box-sizing: border-box;
    background-color: #f2e6d9;
    text-align: center;
    transition: background-color 0.8s;
}
#skills figure {
    position: relative;
} */
/* .skill_tooltip {
    position: absolute;
    right: 20%;
    border-radius: 1px;
    background-color: #f2e6d9;
    visibility: hidden;
    color: black;
    font-size: 12px;
    z-index: 2;
    padding: 1px 3px 1px 3px;
    text-align: center;
    width: auto;
    display: inline-block;
    float: right;
} */
/* @media all and (max-width: 1040px) {
    aside {
        position: absolute;
    }
}
@media all and (max-width: 830px) {
    #sidebar_button_toggle {
        visibility: visible;
        float: left;
        position: sticky;
        top: 25px;
    }
} */
