section table td {
    padding:5px;
    border: 1px solid black;
    border-collapse: collapse;
}

section table img {
    height:25px;
    width:25px;
}

.stockpile_item, .inventory_item {
    display: inline-block;
    float: left;
    width: 100px;
    position: relative;
}
