#battle-result {
  height: 400px;
  overflow-y: scroll;
  margin: 1rem;
}
.battle-progress-container {
  display: flex;
  justify-content: flex-start;
}
.battle-progress-hit {
  flex-basis: 10%;
}
.battle-progress-info {
  flex-basis: 90%;
}
