#crops_view {
    padding:0px 0px 0px 0px;
    margin: 60px 0px 10px 0px;
    width:30%;
    border: 1px solid black;
    float: left;
}
#toggle_view {
    margin: 0px 0px 0px 0px;
    width:300px;
}
#crops {
    width:300px;
    padding:0px 0px 0px 0px;
    margin: 10px 0px 10px 0px;
}
#crops div {
    height:50px;
    width:50px;
    border:1.3px solid black;
    display:inline-block;
    box-sizing:border-box;
    margin: -3px -1px -3px -1px;
    overflow: hidden;
}
#crops {
    visibility: hidden;
}
#crops_table {
}
#crops_table th, td {
    border: 1px solid black;
    padding: 5px;
}
#growing {
}
#crops_action {
    width: 65%;
    height: 200px;
    margin: 0px 0px 0px 0px;
    float: left;
}
#seed_g {
    float: left;
}
.error {
    color:red;
}