header {
    border-bottom: black thin;
    text-align: center;
    display: block;
    background: radial-gradient(#f2e6d9 60%, #986834);
}
#nav_2 {
    list-style-type: none;
    width: 19%;
    float: left;
}
#nav_but {
    display: none;
    color: white;
    background-color:#994d00;
    width: 100%;
    max-width: 100px;
    border: none;
}
#nav_2 ul {
    margin-top: 2px;
    list-style-type: none;
    float: left;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
}
#nav_2 ul li {
    padding: 1px;
    color:white;
    background-color:#994d00;
    max-width: 100px;
}
#nav_2 ul a {
    text-decoration: none;
}
#nav_2 ul li a:visited {
    color:white;
}
#nav_2 li:nth-child(7) {
    height: 2px;
    background-color: #4b341b;
}
.top_bar {
    width: 15%;
    margin:0px 0px 10px 0px;
    position: relative;
    display: inline-block;
}
.top_a  {
    display: block;
    height: 75px;
    width: 75px;
    color: white;
    background-color: #994d00;
    margin: 0px 0px 0px 0px;
    border-radius: 40px;
    z-index: 2;
    position: relative;
    top: 10px;
    left: 0px;
    text-decoration: none;
    box-shadow: 3px 3px 5px black;
    line-height: 50px;
}
.top_a a {
    text-decoration: none;
    color:white;
    display:block;
    line-height: 70px;
}
.top_but {
    max-width:130px;
    height:25px;
    background-color:#994d00;
    position: relative;
    z-index: 1;
    bottom: 40px;
    left:30px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 1px 1px 5px black;
}
.top_but a {
    text-align: center;
    margin:0px 0px 0px 40px;
    text-decoration: none;
    line-height: 25px;
    color: #FFFFFF;
    font-size: 13px;
}
#clock {
}

@media all and (max-width: 830px) {
    #nav_but {display: block;}
    .top_bar {
        font-size: 8px;
    }
    .top_a {
        display: none;
    }
    .top_but {
        bottom: 0px;
        width: 100%;
        left: 0px;
    }
    .top_but a {
        bottom: 0px;
        margin: 0px;
    }
    #nav_2 {
        font-size: 13px;
    }
}