* {
    margin: 0px;
    padding: 0px;
}
section {
    margin: 30px 320px 0px 320px;
        font-family: sans-serif;
}

#logo {
    width: 400px;
    height:275px;
    margin: 0px 100px 0px 200px;
}

section p {
    text-align:center;
    margin: 5px 5px 10px 5px;
    
 
}
section ul {
    list-style-type: none;
    padding:0px;
    background-color:#002b80;
    overflow:hidden;
    margin: 0 auto;
    box-shadow: 0px 1px 20px black;
}

section ul li {
    padding:5px 0px;
    display:inline-block;
    text-align:center;
    line-height: 25px;
}

section ul li a {
    color:white;
    text-decoration: none;
    display:block;
    width:80px;
    height:25px;
    border-radius:2px;
}

section ul li:hover {
    background-color: #003cb3;
}
