:root {
    --layoutBgColor: #c99b69;
    --layoutBgColorShadow: #1f180f;
    --layoutBgColorShadowPerc: 80%;
    --layoutBgColorDark: #4c341a;
    --contentBgColor: #f2e6d9;
    --textColor: white;
    --darkTextColor: black;
    --borderColor: #4c341a;
    --borderColorDark: #1f180f;
    --smallText: 12px;
    --errorTextColor: #db1f1f;
    --greenColor: #008000;
    --transitionDuration: 1.12;
    --filterAnimation: filter 0.3s ease-out;
    --newsZIndex: 12;
    --HUDZIndex: 10;
    --frontZIndez: 11;
    --size: 1rem;
}

html {
    font-size: 100%;
}

body {
    /*padding: 10px 8%;*/
    background-color: #120e07;
    /*font-family: 'Source Sans Pro', 'bold';*/
    font-family: serif;
    font-size: 16px;
    padding: 10px 5px;
    display: grid;
    grid-gap: 10px;
    width: 100%;
    /*grid-templates-areas: 'header header header aside section section section footer footer footer';*/
    grid-template-rows: 200px auto 100px; 
    grid-template-columns: 12% 87%;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
}

.darkTextColor {
    color: var(--darkTextColor);
}

.lightTextColor {
    color: var(--textColor);
}

.green-color,
.able-color {
    color: var(--greenColor);
}

.not-able-color,
.error-co.or {
    color: var(--errorTextColor);
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/* .pb-05 {
    padding-block: 0.5rem;
}
.px-1 {
    padding-inline: 1rem;
}
.p1,
.p-1 {
    padding: 1rem;
}

.py-1 {
    padding-top: var(--size);
    padding-bottom: var(--size);
} */

/* .mt-0 {
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mt-15 {
    margin-top: 1.5rem;
}
.mb-15 {
    margin-bottom: 1.5rem;
}
.mt-05 {
    margin-top: 0.5rem;
}
.mb-05 {
    margin-bottom: 0.5rem;
} */
.cur-pointer {
    cursor: pointer;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ms-auto {
    margin-left: auto;
}

.me-auto {
    margin-right: auto;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

h4,
h5,
h6 {
    margin-bottom: 1rem;
}

.se header,
aside {
    color: var(--textcolor);
}

body img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.dark-image-container {
    background-color: var(--layoutBgColorShadow);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-content: center;
    margin-inline: auto;
}

section {
    /*background: radial-gradient(#f2e6d9 50%, #986834);*/
    /*background: radial-gradient(#a9753d 75%, #4b341b);*/
    background: radial-gradient(var(--layoutBgColor),
            var(--layoutBgColorShadowPerc),
            var(--layoutBgColorShadow));
    box-sizing: content-box;
    /*width: 82.8%;
    min-height: 700px;*/
    grid-column: 2 / 3;
    border: inset #4b341b 2px;
    /*float: right;*/
    text-align: center;
    color: #392714;
    font-weight: 200;
    position: relative;
}

footer {
    color: white;
    background: radial-gradient(var(--layoutBgColor),
            var(--layoutBgColorShadowPerc),
            var(--layoutBgColorShadow));
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.section_wide {
    width: 98%;
}

.label-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-left: 1rem;
    line-height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.label-container:hover input~.checkmark {
    background-color: #ccc;
}

.label-container input:checked~.checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.label-container input:checked~.checkmark:after {
    display: block;
    background-color: #2196f3;
}

.label-container .checkmark:after {
    left: 32%;
    top: 10%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

section input:not([type='radio']):not([type='checkbox']):not(.custom-input) {
    background-color: #e5cdb3;
    padding: 2px 2px 2px 8px;
    margin: 3px;

    &:focus-visible {
        outline: 2px solid var(--borderColor);
        box-shadow: 0 0 7px var(--borderColorDark);
    }
}

label {
    margin-inline: 0.5rem;
}

.inlineAuto {
    margin-inline: auto;
}

section table:not(#game_messages, .noDisplayBlock, .custom-table),
aside table {
    margin: 10px 0px 0px 0px;
    position: relative;
    border-collapse: collapse;
    display: inline-block;
}

.middle-align {
    display: initial;
    margin-inline: auto;
}

.noDisplayBlock {
    display: none;
    margin: 10px 0px 0px 0px;
    position: relative;
    border-collapse: collapse;
}

.linkButton {
    background-color: #f2e6d9;
    border-radius: 5px;
    border: 1px outset;
    box-shadow: 1px 1px 1px 1px #372715;
    padding: 10px 12px 10px 12px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    height: 19px;
}

section table td:not(.custom-td),
th,
section caption,
aside caption,
aside td {
    padding: 8px;
    background-color: #f2e6d9;
}

aside caption,
aside td {
    background-color: initial;
}

.table_required_multiple {
    display: grid;
    grid-template-columns: repeat(4, max-content);
}

/** Tailwind doesn't support ridge border stylre */
.border-ridge {
    border-style: ridge;
}

section tbody tr:not(.sectionTableNoPseudo, .custom-tr):after {
    content: '';
    position: absolute;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #5f4121;
}

section table:not(#game_messages, .custom-table),
.div_content {
    border: 8px ridge #5f4121;
    border-radius: 5px;
    position: relative;
}

section table:not(#game_messages, .custom-table)::after,
.div_content::after {
    content: '';
    border: 3px solid rgba(0, 0, 0, 0.6);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    display: block;
    left: -5px;
    top: -5px;
    border-radius: 4px;
}

section table:not(#game_messages, .custom-table)>*,
.div_content>* {
    position: relative;
    z-index: 1;
}

.div_content_light {
    background-color: var(--contentBgColor);
}

.div_content_dark {
    background-color: var(--layoutBgColorDark);
    color: var(--textColor);
}

section table:not(.custom-table),
section button {
    margin-bottom: 5px;
    box-sizing: border-box;
}

section a:visited {
    text-decoration: none;
}

section img:not([class*="w-"], [width]) {
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    vertical-align: middle;
}

table button {
    margin-top: 5px;
}

button:not(.custom-button, .bk-button) {
    background-color: #f2e6d9;
    border-radius: 5px;
    border: 1px outset;
    box-shadow: 1px 1px 1px 1px #372715;
    padding: 10px 12px 10px 12px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    transition: filter 0.5s ease-out;
}

button:hover:not(.bk-button) {
    filter: brightness(var(--transitionDuration));
}

.button_disabled {
    background-color: transparent;
    color: #999;
}

button:not(.building-tab):active {
    background-color: #ebd9c6;
}

button:not(.bk-button):focus {
    outline: 0;
}

.button_link {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.error_log {
    color: red;
}

#announcement {
    width: 300px;
    height: 500px;
    box-shadow: 3px 3px 12px 18px black;
    background-color: #cccccc;
    border: 1px solid black;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#announcement button {
    background-color: red;
    color: white;
    position: relative;
    left: 5px;
    top: 5px;
    border-radius: 5px;
    border: 0.5px solid black;
}

#news {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 101%;
    border: 1px solid black;
    z-index: var(--newsZIndex);
    visibility: hidden;
    margin-left: -2%;
    color: #ffffff;
    background-color: black;
    opacity: 0.8;
}

#news_content {
    visibility: hidden;
    position: absolute;
    margin: 2% 0% 2% 0%;
    background: radial-gradient(var(--layoutBgColor),
            var(--layoutBgColorShadowPerc),
            var(--layoutBgColorShadow));
    z-index: var(--newsZIndex);
    width: 68%;
    padding: 1%;
    transition: top 0.5s ease-out;
    top: 200px;
    box-shadow: 0px 0px 30px 15px;
    box-sizing: border-box;
}

#news_content table {
    margin: 0px auto;
    margin-bottom: 15px;
}

#news_content_side_panel {
    height: auto;
    box-sizing: border-box;
}

.building-tab {
    background-color: #333300;
    width: 100%;
    height: 50px;
    display: block;
    color: white;
    border: none;
    border-bottom: 1px solid #1a1a00;
    margin-bottom: 0px;
    transition: filter 0.5s ease-out;
}

#news_content_side_panel button:hover {
    filter: brightness(var(--transitionDuration));
}

#news_content_main_content {
    box-sizing: border-box;
    position: relative;
    top: -20px;
    padding: 0px 2px 1rem 8px;
    transition: height 0.5s ease-out;
}

#cont_exit,
.cont_exit {
    float: right;
    position: sticky;
    right: 5px;
    top: 5px;
    z-index: 2;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* #help {
    position: absolute;
    height: 0px;
    background-color: green;
    z-index: 2;
    width: 97%;
    transition: height 1s ease-out;
}
#help_button {
    z-index: 3;
} */
#level_up p {
    margin: 15px 0px 0px 0px;
}

.skill_bar {
    height: 25px;
    width: 50%;
    border: 1px solid black;
    background-color: #995c00;
    position: relative;
}

.skill_bar2 {
    width: 0%;
    height: 100%;
    background-color: #ff9900;
    position: absolute;
    top: 0px;
    left: 0px;
}

.skill_bar_progress {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    /*line-height: 25px;*/
}

#inv_toggle_button_container {
    position: absolute;
    right: 5px;
    height: 100%;
    top: 120px;
    display: none;
}

#inv_toggle_button {
    position: sticky;
    right: 5px;
    top: 25px;
    float: right;
    display: none;
}

/*#layer {
    background-color: #262626;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
}*/
/* #item_tooltip ul {
    list-style-type: none;
    border: 1px solid black;
    position: absolute;
    max-width: 125px;
    z-index: 50;
    top: 14%;
    padding-top: 3px;
    background-color: #724e27;
    color: #ffffff;
    font-size: 12px;
} */
/* #item_tooltip ul li {
    background-color: #724e27;
    width: 120px;
    cursor: pointer;
    padding: 2px;
    text-align: center;
} */
/* #item_tooltip ul li:nth-child(1) {
    cursor: default;
    text-align: center;
} */
.tooltip {
    visibility: hidden;
    position: absolute;
    /*right: 20%;
    bottom: -25%;
    border-radius: 1px;
    background-color: #f2e6d9;
    visibility: hidden;
    color: black;
    font-size: 12px;
    z-index: 2;
    padding: 1px 3px 1px 3px;
    text-align: center;
    width: auto;
    display: inline-block;
    float: right;*/
}

/* class with img of gold*/
.gold,
.warrior_skill {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.inventory_item {
    display: inline-block;
    max-width: 104px;
    min-width: 60px;
    width: 30%;
    height: 90px;
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.item .tooltip {
    display: none;
}

.item {
    display: inline-block;
    max-width: 104px;
    min-width: 70px;
    width: 30%;
    height: auto;
    position: relative;
}

.item_selected {
    border: 3px ridge var(--layoutBgColorShadow);
    border-radius: 4px;
}

/* #store-container-selected-trade {
    border: 8px ridge var(--borderColor);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#store-container-selected-trade:after {
    content: "";
    border: 3px solid rgba(0, 0, 0, 0.6);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    display: block;
    left: -5px;
    top: -5px;
    border-radius: 4px;
} */

.stockpile_item {
    display: inline-block;
    max-width: 104px;
    width: 30%;
    height: 90px;
    position: relative;
}

.stockpile_item img,
.inventory_item img,
.item img:not(.gold) {
    width: 48px;
    height: 48px;
    cursor: pointer;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.item_img .gold {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.inventory_item figure,
.item figure {
    position: relative;
}

/* .item figure {
  top: 20%;
} */
.inventory_buttons {
    visibility: hidden;
    font-size: 12px;
}

.stockpile_buttons {
    visibility: hidden;
    padding: 10%;
    font-size: 12px;
}

.inventory_item button,
.stockpile_buttons button {
    max-width: 24px;
    margin: 0px;
    float: left;
    display: block;
    margin: 0px -1px 0px -1px;
    padding: 1px 1px 1px 1px;
    box-sizing: border-box;
    text-align: center;
}

.item_amount {
    position: relative;
    top: -64%;
    left: 24%;
    color: white;
    text-align: right;
    float: none;
}

.item .item_amount {
    position: absolute;
    top: 0px;
    right: 10px;
    color: var(--textColor);
}

#all {
    width: 40%;
}

#selected {
    height: 56px;
    width: 56px;
    border: 2px outset #724e27;
    margin-inline: auto;
    margin-bottom: 1rem;
}

#selected_t {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

#selected figure {
    position: relative;
    width: 100%;
    height: 100%;
}

.page_title {
    padding: 1%;
    background: radial-gradient(#f1e6da 33%, #d6b38f);
    border-top-left-radius: 25px 50%;
    border-bottom-left-radius: 25px 50%;
    border-top-right-radius: 25px 50%;
    border-bottom-right-radius: 25px 50%;
    width: 55%;
    margin: 20px auto 10px auto;
    color: black;
}

/*width
::-webkit-scrollbar {
  width: 10px;
}
/*Track
::-webkit-scrollbar-track {
  background: #4d4d4d;
}
/*Handle
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/*Handle on hover
::-webkit-scrollbar-thumb:hover {
  /*background: #737373; 
}*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    padding: 10px;
    width: 10px;
}

@media all and (max-width: 1040px) {
    section {
        width: 97.4%;
    }
}

@media all and (max-width: 830px) {
    body {
        margin: 10px 0% 0px 0%;
        padding: 10px 3%;
    }

    .item .item_amount {
        top: -54%;
    }

    /* #skills div {
        font-size: 14px;
    } */
    section {
        min-height: unset;
        width: 97.4%;
        font-size: 11px;
        grid-column: 1 / 3;
    }

    footer {
        grid-column: 1 / 3;
    }

    /*.inventory_buttons {
        margin-left: 6px;
    }*/
    /* #skills div {
        min-width: 53px;
    } */
    #inventory {
        /* Style added in general.js*/
        right: 5px;
        position: absolute;
        height: 250px;
        overflow-y: scroll;
    }

    #inv_toggle_button_container {
        display: block;
    }

    #inv_toggle_button {
        background-color: #f2e6d9;
        border-radius: 5px;
        border: 1px outset;
        box-shadow: 1px 1px 1px 1px #372715;
        padding: 3px 6px 3px 7px;
        color: black;
        font-weight: bold;
        display: block;
        font-size: 11px;
        z-index: 2;
    }
}

@media only screen and (orientation: portrait) and (hover: none) {
    html {
        -webkit-transform: translateY(-100%) rotate(90deg);
        transform: translateY(-100%) rotate(90deg);
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }
}

#anno {
    background-color: #8b4513;
    width: 50%;
    height: 300px;
    position: fixed;
    /*position: -webkit-sticky;*/
    border: 1px solid white;
    left: 31%;
}

.line-through {
    text-decoration: line-through;
}

.dark-bg {
    background-color: var(--layoutBgColorDark);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-icon {
    height: 32px;
    width: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    will-change: filter;
    transition: filter 300ms;
    animation: rotate 1.3s linear infinite;
}