* {
    margin:0;
    padding:0;
}
body {
    padding: 10px 8% 0px 8%;
    background-color: #120e07;
    /*font-family: 'Source Sans Pro', 'bold';*/
    font-family: 'Martel', serif;
    /*background-color: #000033;*/
    overflow-x: hidden;
}
section {
    /*background: radial-gradient(#f2e6d9 50%, #986834);*/
    /*background: radial-gradient(#a9753d 75%, #4b341b);*/
    background: radial-gradient(#c99b69 70%, #4b341b);
    box-sizing: content-box;
    width: 82.8%;
    min-height: 400px;
    border: inset 2px;
    float: right;
    text-align: center;
    padding: 1% 1% 5% 1%;
    color: #392714;
    font-weight: 200;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
section input {
    background-color: #e5cdb3;
    padding: 2px 2px 2px 8px;
    margin: 3px;
}
section table {
    position: relative;
    border-collapse: collapse;
    border: 3px ridge #5f4121;
}
section table td, th {
    padding: 8px;
    background-color: #f2e6d9;
}
section table tr {
}
section tbody tr:after {
    content: "";
    position: absolute;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #5f4121;
}
section table, section div, section button {
    margin-bottom: 5px;
    box-sizing: border-box;
}
section a:visited {
    text-decoration: none;
}
table button {
    margin-top: 5px;
}
button {
    background-color: #f2e6d9;
    border-radius: 5px;
    border: 1px outset;
    box-shadow: 1px 1px 1px 1px #372715;
    padding: 10px 12px 10px 12px;
    color: black;
    font-weight: bold;
    font-size: 13px;
}
button:active {
    background-color: #ebd9c6
}
button:focus {outline:0;}
#skills {
    width: 50%;
    height: 86px;
    float: left;
    margin-bottom: 5px;
}
#skills div {
    position: relative;
    display: inline-block;
    border: 1px ridge black;
    float: left;
    width: 19%;
    max-width: 70px;
    min-width: 55px;
    padding: 3px 0px 3px 0px;
    font-size: 100%;
    box-sizing: border-box;
    background-color: #f2e6d9;
}
#skills img {
    width: 50px;
    height: 50px;
}
#skills figure {
    position: relative;
}
#ad_tooltip {
    left: 16px;
    position: absolute;
    bottom: -3px;
}
.skill_level {
    position: absolute;
    bottom: -3px;
    left: 44%;
}
.skill_tooltip {
    position: absolute;
    right: 20%;
    border-radius: 1px;
    background-color: #f2e6d9;
    visibility: hidden;
    color: black;
    font-size: 12px;
    z-index: 2;
    padding: 1px 3px 1px 3px;
    text-align: center;
    width: auto;
    display: inline-block;
    float: right;
}
#log {
    width: 49%;
    height: 15%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100px;
    border: 1px solid black;
    background-color: #f2e6d9;
    z-index: 1;
    position: relative;
}
#log td {
    border: none;
    padding: 0px;
    text-align: left;
    background-color: transparent;
}
#game_messages {
    border: none;
}
#game_messages tr {
    border: none;
}
#game_messages tr::after {
    content: none;
}
#game_messages td {
    background-color: transparent;
    text-align: left;
    padding: 2px;
}
#log_pseudo_parent {
    position: absolute;
    left: 49%;
    width: 50%;
    height: 120px;
    top: 2px;
    background-color: #f2e6d9;
}
#log_pseudo_parent:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 2px;
    width: 100%;
    height: 78px;
    border: 2px solid black;
}
#hunger {
    width: 162px;
    height: 40px;
    margin-bottom: 6px;
    background-color: #f2e6d9;
    padding: 10px 0px 0px 5px;
}
.hunger_state {
    width: 15px;
    height: 15px;
    border: 1px solid #e68a00;
    margin: 1px;
    float: left;
}
#announcement {
    width: 300px;
    height: 500px;
    box-shadow: 3px 3px 12px 18px black;
    background-color: #CCCCCC;
    border: 1px solid black;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#announcement button {
    background-color: red;
    color:white;
    position: relative;
    left:5px;
    top:5px;
    border-radius: 5px;
    border: 0.5px solid black;
}
#news {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 101%;
    border: 1px solid black;
    z-index: 1;
    visibility: hidden;
    margin-left: -2%;
    color: #FFFFFF;
    background-color: black;
    opacity: 0.8;
}
#news_content {
    visibility: hidden;
    height: 300px;
    position: absolute;
    margin: 2% 0% 2% 16%;
    background-color: #d1a77a;
    z-index: 2;
    width: 60%;
    padding: 2%;
    overflow-y: scroll;
}
#news_content table {
    margin: 0 auto;
}
#cont_exit {
    float: right;
}
#level_up p {
    margin: 15px 0px 0px 0px;
}
#inventory {
    box-sizing: border-box;
    float: right;
    width: 30%;
    height: 400px;
    border: 3px double black;
    overflow-y: scroll;
    overflow-x: visible;
    /*background-color: #a6a6a6;*/
    /*background-color: #724e27;*/
    background-color: #4c341a;
    color: white;
}
/*#layer {
    background-color: #262626;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
}*/
#item_tooltip {
    visibility: hidden;
}
#item_tooltip ul {
    text-align: left;
    list-style-type: none;
    border: 1px solid black;
    position: absolute;
    max-width: 100px;
    z-index: 1;
    top: 14%;
    padding-top: 3px;
    background-color: #724e27;
    overflow: scroll;
    color: #FFFFFF;
    font-size: 12px;
}
#item_tooltip ul li {
    background-color: #724e27;
    padding: 2px;
    cursor: pointer;
    width: auto;
}
#item_tooltip ul li:nth-child(1) {
    cursor: default;
}
#item_tooltip ul li:nth-child(1):hover {
    background-color: #724e27;
}
#item_tooltip ul li:hover {
    background-color: #986834;
}
.tooltip {
    visibility: hidden;
    position: absolute;
    /*position: absolute;
    right: 20%;
    bottom: -25%;
    border-radius: 1px;
    background-color: #f2e6d9;
    visibility: hidden;
    color: black;
    font-size: 12px;
    z-index: 2;
    padding: 1px 3px 1px 3px;
    text-align: center;
    width: auto;
    display: inline-block;
    float: right;*/
}
/* class with img of gold*/
.gold, .warrior_skill {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.inventory_item {
    display: inline-block;
    float: left;
    max-width: 104px;
    min-width: 60px;
    width: 30%;
    height: 90px;
    position: relative;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.item .tooltip {
    display: none;
}
.item {
    display: inline-block;
    float: left;
    max-width: 104px;
    min-width: 60px;
    width: 30%;
    height: 80px;
    position: relative;
}
.stockpile_item {
    display: inline-block;
    float: left;
    max-width: 104px;
    width: 30%;
    height: 90px;
    position: relative;
}
.stockpile_item img, .inventory_item img, .item img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.item_img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.inventory_item figure, .item figure {
    position: relative;
}
.item figure {
    top: 20%;
}
.inventory_buttons {
    visibility: hidden;
    font-size: 12px;
}
.stockpile_buttons {
    visibility: hidden;
    padding: 10%;
    font-size: 12px;
}
.inventory_item button, .stockpile_buttons button {
    max-width: 24px;
    margin: 0px;
    float: left;
    display: block;
    margin: 0px -1px 0px -1px;
    padding: 1px 1px 1px 1px;
    box-sizing: border-box;
    text-align: center;
}
.item_amount {
    position: relative;
    top: -64%;
    left: 24%;
    color: white;
    text-align: right;
    float: none;
}
.item .item_amount {
    top: -54%;
    left: 30%;
    color: black;
}
#all {
    width: 40%;
}
#inventory:hover {
    visibility: visible;
    color: white;
}
#selected {
    height: 56px;
    width: 56px;
    border: 2px outset #724e27;
}
#selected_t {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
#selected figure {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 3px 0px 0px 3px;
}
.page_title {
    padding: 1%;
    background: radial-gradient(#f1e6da 33%, #d6b38f);
    border-top-left-radius: 25px 50%;
    border-bottom-left-radius: 25px 50%;
    border-top-right-radius: 25px 50%;
    border-bottom-right-radius: 25px 50%;
    width: 55%;
    margin: 10px auto 10px auto;
}
/*width*/
::-webkit-scrollbar {
  width: 10px;
}
/*Track*/
::-webkit-scrollbar-track {
  background: #4d4d4d;
}
/*Handle*/
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/*Handle on hover*/
::-webkit-scrollbar-thumb:hover {
  /*background: #737373; */
}

@media all and (max-width: 1040px)  {
    section {width: 97.4%; font-size: 14px;};
}

@media all and (max-width: 830px) {
    body {margin: 10px 2% 0px 2%;};
    #skills div {font-size: 14px;}
    section {width: 97.4%; font-size: 14px;}
    #inventory .inventory_item {width: 50%;}
    /*.inventory_buttons {
        margin-left: 6px;
    }*/
    #skills div {min-width: 53px;};
}
html, body {
  height: 100%;
}

@media screen and (orientation: portrait){
    html {
        -webkit-transform: translateY(-100%) rotate(90deg);    
        transform: translateY(-100%) rotate(90deg);
        -webkit-transform-origin: left bottom;    
        transform-origin: left bottom;    
    }
}
#anno {
    background-color: #8B4513;
    width: 50%;
    height: 300px;
    position: fixed;
    /*position: -webkit-sticky;*/
    border: 1px solid white;
    left: 31%;
}