* {
    margin:0;
    padding:0;
}

body {
    margin: 10px 10% 0px 10%;
    /*font-family: 'Source Sans Pro', 'bold';*/
    font-family: 'Old Standard TT';
    /*background-color: #000033;*/
}


section {
    background: radial-gradient(#f2e6d9 50%, #986834);
    /*background: radial-gradient(#a9753d 50%, #4b341b);*/
    box-sizing: content-box;
    width: 82%;
    border: inset 2px;
    float: right;
    text-align: center;
    padding: 5px;
    color: #392714;
    overflow: hidden;
    position: relative;
}

#skills {
    width: 50%;
    height: 100px;
    float: left;
    margin-bottom: 5px;
}
#skills div {
    position: relative;
    display:inline-block;
    border:1px ridge black;
    float:left;
    width: 15%;
    height: 60%;
    padding:5px;
    font-size: 100%;
}
#skills img {
    width: 40px;
    height: 40px;
}
#log {
    width: 49%;
    height: 15%;
    overflow: scroll;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 5px;
}
#gamemessages {
    width: 250px;
    height: 200px;
}

#announcement {
    width:300px;
    height:500px;
    box-shadow: 3px 3px 12px 18px black;
    background-color: #CCCCCC;
    border:1px solid black;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top:100px;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
}

#announcement button {
    background-color: red;
    color:white;
    position: relative;
    left:5px;
    top:5px;
    border-radius: 5px;
    border: 0.5px solid black;
}

#news {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 25%;
    background-color: black;
    border: 1px solid black;
    opacity: 0.6;
    z-index: 1;
    visibility: hidden;
}

.gold {
    width: 30px;
    height: 30px;
}
#inventory {
    float: right;
    width: 30%;
    height: 400px;
    border: 3px double black;
    overflow: scroll;
    /*background-color: #a6a6a6;*/
    background-color: #724e27;
    color: white;
}
/*#layer {
    background-color: #262626;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
}*/
#inventory img {
    width: 50px;
    height: 50px;
}
#inventory figure {
    position: relative;
}
#item_amount {
    position: relative;
    bottom: 20%;
    left: 10%;
    color: white;
    text-align: right;
    float: none;
}
.tooltip {
    position: absolute;
    /*right: 30%;*/
    bottom: -25%;
    border-radius: 1px;
    background-color: #f2e6d9;
    visibility: hidden;
    color: black;
    font-size: 13px;
    z-index: 2;
    padding: 1px 3px 1px 3px;
    text-align: center;
    width: auto;
    display: inline-block;
    float: right;
}
.stockpile_item, .inventory_item {
    display: inline-block;
    float: left;
    width: 100px;
    height: 90px;
}
.stockpile_buttons {
    float: right;
    top: 1px;
    left: 30px;
    width: 20px;
    height: 10px;
}
.inventory_buttons {
    visibility: hidden;
    font-size: 0;
    padding: 10%;
}

.inventory_buttons button {
    margin: 0px;
    float: left;
    display: block;
    margin: 0px -1px 0px -1px;
}

#inventory:hover {
    visibility: visible;
    color: white;
}

@media all and (max-width: 800px) {
    #skills div {font-size: 12px;}
    #skills img {width: 25px; height: 25px;}
}