* {
    margin:0px;
    padding:0px;
}
#login {
    background-color: #d1a77a;
    width: 700px;
    height: 260px;
    position: relative;
    top: 50px;
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 4px 4px 8px black;
    border-radius: 8px;
    color: white;
    margin: 0 auto;
}
#login h3 {
    margin: 5px 0px 0px 0px;
}
#login input {
    margin: 1px 0px 1px 0px;
    font-size: 16px;
}
#login button {
    background-color:#002b80;
    color:white;
    border-radius: 4px;
    box-shadow: 1px 1px 2px grey;
    width:50px;
    height:25px;
    text-align:center;
    margin: 3px 0px 10px 5px;
}
.login_error {
    color:red;
    font-size:13px;
    margin: 5px 0px 5px 8px;
    position: absolute;
}
#background_image_container {
    width: 100%;
    height: 700px;
    overflow-y: hidden;
    overflow-x: hidden;
    /*background-image: url('7.5m.png');
    background-size: 200% 200%;*/
    position: absolute;
}
#background_image {
  position: absolute;
  left: -200px;
  transition: all 0.002s linear;
}