* {
    padding:0px;
}
html, body {
    height: 100%;
    margin: 0;
}
html {
    scroll-snap-type: y mandatory;
}
.login-slide {
    height: 100vh;
    display: block;
    scroll-snap-align: start;
}
.z-front {
    z-index: 5;
    position: relative;
}
.front-title {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.front-title > h1 {
    font-size: 60px;
}
.front-title > img {
    width: 150px;
    image-rendering: crisp-edges;
}
#login {
    background-color: #d1a77a;
    max-width: 700px;
    position: relative;
    top: 50px;
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0px 0px 15px black;
    border-radius: 8px;
    color: white;
    margin-inline: auto;
}
#login label {
    margin-right: 0.5rem;
}
#login h1 {
    margin: 5px 0px 0px 0px;
}
#login input {
    margin: 1px 0px 1px 0px;
    font-size: 16px;
}
#login button {
    background-color: #f2e6d9;
    border-radius: 5px;
    border: 1px outset;
    box-shadow: 1px 1px 1px 1px #372715;
    padding: 10px 12px 10px 12px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}
#login label {
    width: 100px;
    text-align: right;
    display: inline-block;
}
.login_error {
    color:red;
    font-size:13px;
    margin: 5px 0px 5px 8px;
    position: absolute;
}
#background_image_container {
    width: 100%;
    height: 200vh;
    overflow-y: hidden;
    overflow-x: hidden;
    /*background-image: url('7.5m.png');
    background-size: 200% 200%;*/
    position: absolute;
    top: 0px;
}
#background_image {
  position: absolute;
  left: -200px;
  transition: all 0.002s linear;
}