#public_chat {
    border: 1px solid black;
    height: 250px;
    width: 90%;
    overflow: hidden;
}

#chat  {
    border: 1px solid black;
    height: 87%;
    width: 90%;
    overflow: scroll;
}

#chat ul {
    list-style-type: none;
    float: left;
}
#chat ul li {
    text-align: left;
    display: block
}
#world_map {
    display:none;
    position: relative;
}
#profile {
    width:25%;
    height:300px;
    border: 1px solid black;
    float:left;
}
#profile_header {
    font-size:18px;
    margin: 5px 0px 5px 0px;
}
#profile_picture {
    border: 1px solid black;
}
#skill_bar {
    height:25px;
    width:74%;
    border:1px solid black;
    background-color:#995c00;
    margin: 0px 0px 0px 22px;
    position: relative;
}
#skill_bar2 {
    width:0%;
    height:100%;
    background-color: #ff9900;
    position: absolute;
    top:0px;
    left:0px;
}
#skill_bar_progress {
    width:100%;
    display: block;
    text-align: center;
    position: relative;
    line-height: 25px;
}
#town_map {
    width:40%;
    height:300px;
    border: 1px solid black;
    margin:0px 0px 0px 10px;
    display:inline-block;
}
#countdowns {
    width:20%;
    height:300px;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    float:right;
}
#ressources_view a:visited {
}
#ressource_table {
    border-collapse: collapse;
    margin:3px;
}
#ressource_table td,th {
    padding:5px;
    border: 1px solid black;
    border-collapse: collapse;
}
#upgrades {
    width:50%;
    height:150px;
    border:1px solid black;
    margin-top:10px;
    margin-left:25%;
}