#public_chat {
    border: 1px solid black;
    height: 250px;
    width: 90%;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
#chat  {
    border: 1px solid black;
    height: 85%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px 0px 0px 3px;
    box-sizing: border-box;
}
#chat ul {
    list-style-type: none;
    float: left;
}
#chat ul li {
    text-align: left;
    display: block
}
#public_chat input[type="text"] {
    float: left;
    width: 91%;
    /*margin-right: 5px;*/
    padding-right: 20%;
    margin: 0px 0px 0px 0px;
    font-size: 16px;
}
#public_chat button {
    position: absolute;
    margin-top:-2px;
    padding: 6px 8px 6px 8px;
    right: 0%;
    top: 216px;
}
#world_map {
    display:none;
    position: relative;
}
#game_news {
    width: 400px;
    float: left;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #f2e6d9;
}
#game_news h3 {
    color: #c90;
}
#profile {
    width:25%;
    height:300px;
    border: 1px solid black;
    float:left;
}
#profile_header {
    font-size:18px;
    margin: 5px 0px 5px 0px;
}
#profile_picture {
    border: 1px solid black;
}
#skill_bar {
    height:25px;
    width:74%;
    border:1px solid black;
    background-color:#995c00;
    margin: 0px 0px 0px 22px;
    position: relative;
}
#skill_bar2 {
    width:0%;
    height:100%;
    background-color: #ff9900;
    position: absolute;
    top:0px;
    left:0px;
}
#skill_bar_progress {
    width:100%;
    display: block;
    text-align: center;
    position: relative;
    line-height: 25px;
}
#town_map {
    width:40%;
    height:300px;
    float: left;
    border: 1px solid black;
    margin:0px 0px 0px 10px;
    display:inline-block;
    box-sizing: border-box;
}
#countdowns {
    width: 32%;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    float:right;
}
#ressources_view a:visited {
}
#ressource_table {
    border-collapse: collapse;
    margin:3px;
}
#ressource_table td,th {
    padding:5px;
    border: 1px solid black;
    border-collapse: collapse;
}
#upgrades {
    width: 50%;
    height: 150px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 25%;
}
#diplomacy {
    float: left;    
    width: 50%;
    margin-top: 10px;
}
#map_container {
    width: 800px;
    overflow: scroll;
    height: 800px;
    border: 2px double black;
}
#map {
    width: 1800px;
}
.map_img {
    width: 200px;
    height: 200px;
    float:left;
}
@media all and (max-width: 830px) {
    #public_chat input[type="text"] {width: 85%;}
}