section table {
    border-collapse: collapse;
}
section table td {
    padding: 5px;
    border: 1px solid black;
}
#new_off {
    float: left;
    width: 40%;
}
#offer_form input[type="text"] {
    text-align: center;
}
#form_cont {
    display: none;
    height: 250px;
}
#form_cont input {
    width: 100%;
}
#form_cont input:nth-child(2) {
    max-width: 92px;
}
#form_cont input[type="number"] {
    max-width: 70px;
}
#item {
    float: left;
    height: 100%;
    width: 50%;
    padding: 5px;
}
#selected {
    margin: 0 auto;
}
#selected img {
    width: 50px;
    height: 50px;
}
#item_name {
    width: 100%;
}
#form_inputs {
    width: 42%;
    float: right;
}
#item_b {
    visibility: hidden;
    display: none;
}
#item_srch {
    max-width: 50px;
}
#offers {
    float: left;
    width: 60%;
    border: 9px inset #604706;
}
#offers table {
    width: 100%;
}
#offers input {
    width: 92px;
}
#offers input[type="number"] {
    max-width: 30px;
}
#s_item {
    float: right;
}
#sch_button {
    float: left;
    display: none;
}
#my_offers {
    margin: 5px;
    float: left;
    width: 50%;
}
#my_offers tr {
    border: 1px solid black;
    background-color: #f2e6d9;
}
#my_offers tr:after {
    content: "";
    border: 2px solid red;
    position: absolute;
    left: 40px;
    width: 45%;
    height: 1px;
    background-color: red;
}
#my_offers td {
    border: none;
}
#my_offers td:nth-child(5) {
    max-width: 101px;
}
#my_offers td:nth-child(6) {
    max-width: 92px;
    padding-right: 8px;
}
#my_offers span {
    top: -92%;
}
#history {
    display: none;
    width: 50%;
    float: left;
}
caption {
    background-color: #f2e6d9;
    padding: 5px 0px 5px 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
