#new_off {
    float: left;
    width: 40%;
}
#offer_types {
    position: relative;
}
#offer_types button{
    padding-right: 40px;
}
#offer_types :nth-child(2) {
    width: 0px;
    height: 0px;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 20px solid green;
    position: absolute;
    top: 26%;
    left: 41%;
}
#offer_types :nth-child(4) {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid red;
    position: absolute;
    top: 26%;
    left: 61%;
}
#offer_form input[type="text"] {
    text-align: center;
}
#form_cont {
    display: none;
    height: 250px;
}
#form_cont input {
    width: 100%;
}
#form_cont input:nth-child(2) {
    max-width: 92px;
}
#form_cont input[type="number"] {
    max-width: 70px;
}
#item {
    float: left;
    height: 100%;
    width: 50%;
    padding: 5px;
}
#selected {
    margin: 0 auto;
}
#selected img {
    width: 50px;
    height: 50px;
}
#item_name {
    width: 100%;
}
#form_inputs {
    width: 42%;
    float: right;
}
#item_b {
    visibility: hidden;
    display: none;
}
#item_srch {
    max-width: 50px;
}
#offers {
    float: left;
    width: 60%;
    border: 9px inset #604706;
}
#offers table {
    width: 100%;
}
#offers input {
    width: 92px;
}
#offers input[type="number"] {
    max-width: 30px;
}
#s_item {
    float: right;
}
#sch_button {
    float: left;
    display: none;
}
#my_offers {
    margin: 5px;
    float: left;
    width: 50%;
}
#my_offers td {
    border: none;
}
#my_offers td:nth-child(5) {
    max-width: 101px;
}
#my_offers td:nth-child(6) {
    max-width: 92px;
    padding-right: 8px;
}
#history {
    width: 50%;
    float: left;
}
caption {
    background-color: #f2e6d9;
    padding: 5px 0px 5px 0px;
    border-top: 3px solid #5f4121;
    border-left: 3px solid #5f4121;
    border-right: 3px solid #5f4121;
}
