/* .store_trade {
    display: inline-block;
    float: left;
    cursor: pointer;
    background-color: #724e27;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
}
.store_trade figure img {
    width: 50px;
    height: 50px;
}
.store_trade button {
    float:left;
}
.store_trade label {
    width: 100%;
} */
#trades_container {
    width: 100%;
    font-size: var(--smallText);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(104px, 125px));
    border: none;
}
#trades_container, #do_trade {
    color: var(--textColor);
}
.item .gold {
    width: 30px;
    height: 30px;

}
#trades .item {
    height: 125px;
    width: unset;
    max-width: unset;
    min-width: unset;
    color: var(--textColor);
}
#trades .item p {
    float: left;
    width: 100%;
    position: relative;
    top: 8px;
}
.item .item_amount {
    top: -26%;
    color: var(--textColor);
}
#trade_sign {
    float: left;
    line-height: 5
}
#trades_wrapper {
    display: flex;
}
#do_trade {
    height: 100%;
    min-width: 155px;
    background-color: #5f4121;
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-sizing: border-box;
}
#selected_trade {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}
.trader_assignments .item {
    float: none;
}
#merchant-offer-container {
    position: relative;
    height: 272px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
#merchant-offer-selected {
    flex-basis: 50%;
}
#merchant-offer-list {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    flex-basis: 50%;
}
.merchant-offer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    padding-block: 1rem;
    cursor: pointer;
}
.merchant-offer :where(figure, p, img) {
    align-self: center;
}
.merchant-offer:hover {
    filter: brightness(1.15);
}
#merchant-offer-list .merchant-offer:not(:last-child):after {
    content: "";
    position: absolute;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #5f4121;
    bottom: 0px;
}
.merchant-offer-price {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}
.merchant-offer span {
    text-align: left;
}
#trader_assignments_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    gap: 1rem;
}
.trader_assignment {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    padding-bottom: 0.5rem;
}
.trader_assignment_locked {
    filter: grayscale(60%);
}
.trader_assignment p {
    margin-block: 0.5rem;
}
.selected_trader_assignment {
    filter: brightness(1.5);
}