#trades {
    /*display: inline-block;*/
    float: left;
    width: 69%;
    margin: 0px 5px 5px 0px;
    box-sizing: border-box;
}
.store_trade {
    display: inline-block;
    float: left;
    cursor: pointer;
    background-color: #724e27;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
}
.store_trade figure img {
    width: 50px;
    height: 50px;
}
.store_trade button {
    float:left;
}
.store_trade label {
    width: 100%;
}
#trades_container {
    width: 100%;
    font-size: var(--smallText);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(104px, 125px));
    border: none;
}
#trades_container, #do_trade {
    color: var(--textColor);
}
.item .gold {
    width: 30px;
    height: 30px;

}
#trade_info {
    float: left;
}
#trades .item {
    height: 125px;
    width: unset;
    max-width: unset;
    min-width: unset;
    color: var(--textColor);
}
#trades .item p {
    float: left;
    width: 100%;
    position: relative;
    top: 8px;
}
.item .item_amount {
    top: -26%;
    color: var(--textColor);
}
#trade_sign {
    float: left;
    line-height: 5
}
#trades_wrapper {
    display: flex;
    border: 5px ridge #330;
    border-radius: 5px;
    background-color: var(--layoutBgColorDark);
    color: var(--textColor);
}
#do_trade {
    width: 155px;
    height: 213px;
    min-width: 155px;
    float: left;
    background-color: #724e27;
    border-top: none;
    border-left: none;

}
#selected_trade {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}
#trader_assignment table {
    margin-bottom: 10px;
}
#trader_assignment .item {
    float: none;
}
#traderAssignment_progressBar {
    float: right;
}
