#action_div {
    background-color: #f2e6d9;
}
#action_div::after {
  content: "";
  clear: both;
  display: table;
}
#actions {
    width: 100%;
    padding: 2px;
    border-bottom: 3px solid black;
}
#select {
    width: 58%;
    max-width: 231px;
    box-sizing: border-box;
    float: left;
    padding: 1.5px;
}
#action_div label {
    width: 120px;
    text-align: right;
    display: inline-block;
}
#action_body {
    display: flex;
    flex-direction: row;
}
#cancel_action {
    visibility: hidden;
}
.crop, .mineral {
    width: 64px;
    height: 64px;
    float: left;
    font-size: 12px;
    box-sizing: border-box;
    margin: 1px;
}
#data_container {
    box-sizing: border-box;
    border-left: 3px solid black;
    flex-grow: 2;
    justify-content: center;
    display: flex;
}
#data_form {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
#data {
    visibility: hidden;
}
#data input {
    width: 56px;
    cursor: default;
}
#data input:first-of-type {
    width: 80px;
}
#data input:nth-child(12) {
    cursor: text;
}
#data figure {
    width: 100%;
    height: 70px;
}
#data figure img {
    margin: 0 auto;
    float: none;
}
#reduction_time {
    text-align: left;
    padding-left: 10px;
}