#smith {
    width: 64%;
    float: left;
}
/*#smith::after {
  content: "";
  clear: both;
  display: table;
}*/
#minerals {
    float: left;
    margin-bottom: 2px;
}
#iron, #steel, #gargonite, #adron, #yeqdon, #frajrite {
    display: none;
    float: left;
}
#ranged {
    float: left; 
}
.minerals {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}
#smith input[type="number"] {
    width: 25px;
}
#smith span {
    width: 50%;
}