#menu {
    width: 100px;
    background-color: white;
    border: 1px solid black;
    visibility: hidden;
    position: absolute;
}

#menu ul {
    list-style-type: none;    
}
#hidden {
    display: none;   
}
#stockpile {
    box-sizing: border-box;
    padding: 5px;
    width: 69.5%;
    border: 3px double black;
    background-color: #724e27;
    color: white;
    height: auto;
    overflow: scroll;
    float: left;
}
#stockpile figure {
    position: relative;
}