#menu {
    width: 100px;
    background-color: white;
    border: 1px solid black;
    visibility: hidden;
    position: absolute;
}

#menu ul {
    list-style-type: none;    
}
#hidden {
    display: none;   
}
#stockpile {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    background-color: #724e27;
    color: white;
    overflow-x: visible;
    min-height: 250px;
}
#stockpile p {
    margin: 0px 0px 8px 0px;
}
#stockpile figure {
    position: relative;
}
#stockpile figcaption {
    visibility: hidden;
    position: absolute;
}
#stck_menu {
    visibility: hidden;
    z-index: 2;
}
#stck_menu ul {
    text-align: left;
    list-style-type: none;
    border: 3px ridge var(--borderColorDark);
    border-radius: 4px;
    position: absolute;
    max-width: 100px;
    z-index: 1;
    top: 14%;
    padding-top: 10px;
    background-color: #724e27;
    overflow: scroll;
    color: #FFFFFF;
    font-size: 12px;
    width: 125px;
    text-align: center;
}
#stck_menu ul li {
    background-color: #724e27;
    padding: 3px;
    cursor: pointer;
    width: auto;
}
#stck_menu ul li:nth-child(1) {
    cursor: default;
}
#stck_menu ul li:nth-child(1):hover {
    background-color: #724e27;
}
#stck_menu ul li:hover {
    background-color: #986834;
}
#stck_menu_custom_amount {
    font-size: 12px;
    padding: 0px;
    background-color: transparent;
    border: none;
    width: 75px;
    height: 100%;
    color: var(--textColor);
    font-weight: normal;
    font-family: serif;
    text-align: center;
}
#stck_menu_custom_amount:focus {
    outline: none;
}
/* Hide browser arrow for input Chrome, safari, edge */
#stck_menu_custom_amount::-webkit-outer-spin-button,
#stck_menu_custom_amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#stck_menu_custom_amount {
  -moz-appearance: textfield;
}