#menu {
    width: 100px;
    background-color: white;
    border: 1px solid black;
    visibility: hidden;
    position: absolute;
}

#menu ul {
    list-style-type: none;    
}
#hidden {
    display: none;   
}
#stockpile {
    box-sizing: border-box;
    padding: 5px;
    width: 69.5%;
    border: 3px double black;
    background-color: #724e27;
    color: white;
    height: auto;
    overflow-y: scroll;
    overflow-x: visible;
    float: left;
}
#stockpile figure {
    position: relative;
}
#stockpile figcaption {
    visibility: hidden;
    position: absolute;
}
#stck_menu {
    visibility: hidden;
}
#stck_menu ul {
    text-align: left;
    list-style-type: none;
    border: 1px solid black;
    position: absolute;
    max-width: 100px;
    z-index: 1;
    top: 14%;
    padding-top: 10px;
    background-color: #724e27;
    overflow: scroll;
    color: #FFFFFF;
    font-size: 12px;
}
#stck_menu ul li {
    background-color: #724e27;
    padding: 3px;
    cursor: pointer;
    width: auto;
}
#stck_menu ul li:nth-child(1) {
    cursor: default;
}
#stck_menu ul li:nth-child(1):hover {
    background-color: #724e27;
}
#stck_menu ul li:hover {
    background-color: #986834;
}