#store-container-item-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 500px;
    min-height: 250px;
    margin-inline: auto;
}
#store-container-item-selected {
    flex-basis: 50%;
}
#store-container-do-trade {
    height: 100%;
    min-width: 155px;
    background-color: #5f4121;
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-sizing: border-box;
}
#store-container-selected-trade {
    width: 100%;
    margin: 0 auto;
    padding-top: 0.8rem;
}
#store-container-item-list {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    flex-basis: 50%;
    max-width: 250px;
    max-height: 336px;
}
.store-container-item {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-block: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}
.store-container-item :where(figure, p, img) {
    align-self: center;
}
.store-container-item:hover {
    filter: brightness(1.15);
}
#store-container-item-list .store-container-item:not(:last-child):after {
    content: "";
    position: absolute;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #5f4121;
    bottom: 0px;
}
.store-container-item-price {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}
.store-container-item span {
    text-align: left;
}
#store-container-item-selected .item figcaption {
    visibility: hidden;
}
#store-container-item-selected .item .item_amount {
    color: var(--textColor);
}