section ul {
    list-style-type: none;
}
section li {
    display: block;
    height:75px;
}
section li img {
    float:left;
}
#miners {
    width:100px;
    float:left;
    
}
#warriors {
    width:100px;
    float: left;
}
#farmers {
    width:100px;
    float:left;
}
#container {
    position: absolute;
}
#curtain {
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #262626;
    opacity: 0.5;
}
#conversation {
    border: 1px solid black;
    display: none;
    width: 300px;
    height: 300px;
    z-index: 2;
    float: right;
    color: white;
}
#conversation button {
    background: none;
    border: none; 
    padding: 0;
    color: #FFFFFF;
    cursor: pointer;
}
#conv_a {
    float: left;
    width: 50px;
}
#conv_b {
    float: right;
    width: 50px;
}
#conversation a {
    color: red;
}
