#tavern-workers-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 175px));
    justify-content: center;
    row-gap: 2rem;
}
#eat #hunger_progressBar {
    margin-inline: auto;
    top: 0px !important;
    left: 0px !important;
}