#city {
    width:90%;
    height:75%;
    border: 1px solid black;
}
#updates {
    border:2px solid black;
    width:45%;
    float:left;
    margin: 0px 0px 0px 30px;
    padding:5px;
}
#news {
    border:2px solid black;
    width:45%;
    float:right;
    margin: 0px 30px 0px 0px;
    padding:5px;
}
