#warriors_container {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 3px;
    white-space: nowrap;
    height: 210px;
}
#warriors_container img {
    width: 30px;
    height: 30px;
}
#warriors_container figure figure {
    display: inline-block;
    width: 30px;
    height: 30px;
}
#warriors_container figcaption {
    display: none;
}
.warriors span {
    position: relative;
    top: 62%;
    left: -70%;
    color: black;
    text-align: right;
    float: none;
}
.warriors {
    border: 3px ridge #5f4121;
    height: 200px;
    width: 140px;
    margin: 2px;
    cursor: pointer;
    display: inline-grid;
    background-color: #f2e6d9;
    padding: 5px 0px 0px 0px;
    box-sizing: border-box;
    border-radius: 5px;
}
.warriors input[type="checkbox"] {
    position: relative;
    top: 10px;
    left: 70px;
}
.warrior_front {
    
}
.warrior_front button {
    position: relative;
    left: 24px;
    padding: 0px;
    height: 25px;
    width: 30px;
    bottom: -10px;
}
.warrior_back {
    position: relative;
    top: -200px;
    transform: rotateY(180deg);
    visibility: hidden;
}
.warrior_back ul {
    list-style-type: none;
}