section table {
    border-collapse: collapse;
}
#farmer_workers {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
#farmer_workers table {
    display: table;
    margin: 0 auto;
}
#miner_workers table {
    display: table;
    margin: 0 auto;
}