@tailwind base;
@tailwind components;
@tailwind utilities;

.border-outset {
    border-style: outset;
}

.border-inset {
    border-style: inset;
}

.border-ridge {
    border-style: ridge;
}

.image-crisp {
    image-rendering: crisp-edges;
}

.image-auto-render {
    image-rendering: auto;
}

#log-modal {
    transition: opacity 0.5s ease-out, height 0.2s ease-out;
}