#city {
    width:90%;
    height:75%;
    border: 1px solid black;
}
#canvas_area {
    width:200px;
    height:300px;
    border: 1px solid red;
    display: inline-block;
    position: relative;
}
#city_towhar_link {
    position: absolute;
    width:60px;
    height:15px;
}
#city_golbak_link {
    position: absolute;
    width:60px;
    height:15px;
}
#city_snerpiir_link {
    position: absolute;
    width:60px;
    height:15px;
}
#city_krasnur_link {
    position: absolute;
    width:60px;
    height:15px;
}
#city_tasnobil_link {
    position: absolute;
    width:60px;
    height:15px;
}
#city_cruendo_link {
    position: absolute;
    width:60px;
    height:15px;
}
#city_fagna_link {
    position: absolute;
    width:60px;
    height:15px;
}
