#workers-overview {
    display: flex;
    gap: 10px;
}
#farmer_workers,
#miner_workers {
    flex-basis: 50%;
    box-sizing: border-box;
}
#farmer_workers table,
#miner_workers table {
    display: table;
    margin: 0 auto;
}